body, html {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
}

.card {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  font-weight: bold;
  background: linear-gradient(to bottom, #ff7e5f, #feb47b);
  scroll-snap-align: start;
}
